// Circular progress animation
@keyframes dash {
    from {
        stroke-dashoffset: 553;
    }

    to {
        stroke-dashoffset: 0;
    }
}

// Pulse animation for unlocked milestones
@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

:host ::ng-deep {
    .material-icons {
        user-select: none;
    }
}